.appContainer {

     display: flex;
}

.mainContainer {

     width: 100%;

}

.sidebar {
     min-height: 600px;
}

.footer {
     width: 100%;


}

.footerContainer {
     height: 50px;
}

.post-container {
     margin: 15px 5px;
}

.hashtag {

     margin: 0px 3px;
}

.reactions {
     margin: 3px 10px;
}

.create-post {
     width      : 69%;
     margin-left: 10%;
     margin-top : 55px;

}

.nopost{
     margin: 12px 0px;
}

.spinner{

     margin:71px;
}